@import 'varaibles';
* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: 'segoe ui';
}

nav {
    a {
        color: #000;
    }
    .active>.nav-link {
        color: #fd7964 !important;
    }
    .active {
        color: #fd7964 !important;
    }
    .nav-link {
        padding: 0 40px;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 12px;
    }
    .header-icon {
        padding-right: 0;
        padding-left: 37px;
    }
}

// .nav {
//     height: 50px;
//     width: 100%;
//     position: relative;
//     > {
//         .nav-header {
//             display: inline;
//             >.nav-title {
//                 display: inline-block;
//                 font-size: 22px;
//                 padding: 10px 10px 10px 10px;
//                 font-weight: 600;
//             }
//         }
//         .nav-btn {
//             display: none;
//         }
//         .nav-links {
//             display: inline;
//             position: relative;
//             left: 230px;
//             font-size: 18px;
//             >a {
//                 display: inline-block;
//                 padding: 13px 10px 13px 10px;
//                 text-decoration: none;
//                 color: $color-black;
//                 &:hover {
//                     background-color: $color-orange;
//                 }
//             }
//         }
//         #nav-check {
//             display: none;
//         }
//     }
// }
// @media (max-width: 600px) {
//     .nav> {
//         .nav-btn {
//             display: inline-block;
//             position: absolute;
//             right: 0px;
//             top: 0px;
//             >label {
//                 display: inline-block;
//                 width: 50px;
//                 height: 50px;
//                 padding: 13px;
//                 &:hover {
//                     background-color:$color-black(0, 0, 0, 0.3);
//                 }
//                 >span {
//                     display: block;
//                     width: 25px;
//                     height: 10px;
//                     border-top: 2px solid #eee;
//                 }
//             }
//         }
//         .nav-links {
//             position: absolute;
//             display: block;
//             width: 100%;
//             background-color: #333;
//             height: 0px;
//             transition: all 0.3s ease-in;
//             overflow-y: hidden;
//             top: 50px;
//             left: 0px;
//             z-index: 1;
//             >a {
//                 display: block;
//                 width: 100%;
//                 color: $color-white;
//             }
//         }
//         #nav-check {
//             &:not(:checked)+.nav-links {
//                 height: 0px;
//             }
//             &:checked+.nav-links {
//                 height: calc(100vh - 50px);
//                 overflow-y: auto;
//             }
//         }
//         // .text-right {
//         //     margin-left: 30px;
//         // }
//     }
// }
.footer {
    margin-top: 50px;
    padding-left: 10px;
    .table {
        margin-top: 40px;
        tbody {
            font-size: 14px;
            color: $color-grey;
        }
    }
    .table td,
    .table th {
        border: none;
        padding: 0px;
    }
    form {
        margin-top: 25px;
        .group {
            position: relative;
            margin-bottom: 45px;
        }
        input {
            font-size: 18px;
            padding: 10px 10px 10px 5px;
            display: block;
            width: 400px;
            border: none;
            border-bottom: 1px solid $color-orange;
            &:focus {
                outline: none;
            }
        }
        label {
            color: $color-black;
            font-size: 14px;
            font-weight: normal;
            position: absolute;
            pointer-events: none;
            left: 5px;
            top: 10px;
            transition: 0.2s ease all;
        }
        input {
            &:focus~label,
            &:valid~label {
                top: -10px;
                font-size: 14px;
                color: $color-orange;
            }
            &:focus~.bar {
                &:before,
                &:after {
                    width: 50%;
                }
            }
        }
        .btn-danger {
            color: $color-white;
            background-color: $color-orange;
            border-color: $color-orange;
            border-radius: 0px;
            margin: auto;
        }
        .btn-danger:hover {
            background-color: $color-orange;
            border-color: $color-orange;
        }
    }
    hr {
        margin-top: 20px;
    }
    .f-content {
        color: $color-grey;
        margin-bottom: 20px;
        .icon {
            float: right;
            .fab {
                padding: 0 10px 0 10px;
            }
        }
    }
}